$shadow-dark-grey: rgba(0, 0, 0, 0.123);
$light-grey-opacity:#f5f5f57e;
$light-grey-visible:rgb(241, 241, 241);
$purple-gradient:linear-gradient(to bottom, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
$heart-gradient:linear-gradient(100deg, #9356DC, #FF79DA);
$border15px:15px;
$border20px:20px; 
$border50px:50px;
$center-page-auto:0 auto;
$margin-top-20px:20px;
$size-maximum:100%;
$max-page:1500px;
