.functions
{
  padding: 20px;
  padding-bottom: 70px;
  h2
  {
    padding-bottom: 10px;
  }
  .func-bloc
  {
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-top: $margin-top-20px;
    align-items: center;
    position: relative;
    border-radius: $border50px;
    padding-left: 15px;
    transition:1s;
    .number
    {
      background-color:#9356DC;
      color: white;
      font-weight: 500;
      border-radius: 50%;
      position: absolute;
      height: 25px;
      width: 25px;
      align-items: center;
      justify-content: center;
      margin-left: -10px;
      display: flex;
    }
    .bloc
    {
      display: flex;
      padding: 0 15px;
      padding-top: 25px;
      padding-bottom: 25px;
      padding-left: 40px;
      background-color: #f7f7f7ad ;
      width: $size-maximum;
      gap:20px;
      border-radius: $border20px;
      font-size: 18px;
      font-weight: 500;
      box-shadow: 0px 4px 14px 4px $shadow-dark-grey;
      transition: 1.05s;
      cursor: pointer;
      &:hover
      {
        background-color:#c5ace493;
        border-radius: $border20px;
        .fas 
        {
          color:#9356DC;
        }
      }
      .fas
      {
        transition: 1.05s;
      }  
    }
  } 
}
@media screen and (min-width:800px){
  .functions
  {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    h2
    {
      display: block;
      width: $size-maximum;
      padding: 0;
    }
    .func-bloc
    {
      display: flex;
      flex-direction: row;
      min-width: 30%;
    }
  }
}  
@media screen and (max-width: 600px){
  .func-bloc
  {
    width: $size-maximum;
  }
}
@media screen and (max-width: 365px) {
  .func-bloc 
  .bloc 
  .func-name
  {
    font-size: 14px;
  }
}
