.restaurants
{
  padding:20px;
  background-color: $light-grey-opacity;
  padding-bottom: 80px;
  .rest-cards
  {
    background-color: white;
    margin-top: $margin-top-20px;
    border-radius: $border20px;
    position:relative;
    box-shadow: 0px 4px 14px 4px $shadow-dark-grey;
    transition:1s;
    &:hover
    {
      transform: scale(1.03);
    }
    a 
    {
      text-decoration: none;
      color: black;
      .Nouveau
      {
        display: flex;
        position:absolute;
        background-color: rgb(147, 204, 184);
        color: rgb(53, 121, 100);
        padding:5px;
        font-weight: 400;
        margin-top: $margin-top-20px;
        margin-left:75%;
        border-radius: 5%;
      }
      img 
      {
        width: $size-maximum;
        max-height: 170px;
        min-height: 130px;
        border-radius: 16px 16px 0px 0px;
        object-fit: cover;
        margin-bottom: 7px;
      }
      h3
      {
        margin-top: 5px;
        padding-left: 10px;
      }
      .loc-icon
      {
        padding-right: 20px;
        .rest-location
        {
          margin-top: -15px;
          padding-left: 10px;
          padding-bottom: 20px;
        }
        .hearts
        {
          display: flex;
          position: relative;
          float: right;
          margin-top: -50px;
          justify-content: flex-end;
          display: flex;
          .heart__1
          {
            position: relative;
            transition: 1s;
            &:hover
            {
              animation: heart__empty__opacity1 0.6s;
            }
            @keyframes heart__full__opacity {
              0% {
                opacity: 0;
              }
              100% {
                opacity: 1;
                background-image: $heart-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition: 1s;
              }
            }
          }
          .heart__2 
          {
            position: absolute;
            top: 0px;
            opacity: 0;
            &:hover 
            {
              animation: heart__full__opacity 0.6s forwards;
              transform: scale(1.02);
              @keyframes heart__empty__opacity1 {
                0% {
                  opacity: 1;
                }
                50% {
                  opacity: 0.5;
                }
                100% {
                  opacity: 0;
                  transition: 1s;
                }
              }
            }
          }
        }
      }
    }
  }     
}
@media screen and (min-width:800px){
  .restaurants
  {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;    
    h2 
    {
      width: $size-maximum;
      margin-bottom: -10px;
    }
    .rest-cards 
    {
      width: 48%;
      flex-direction: row;
      &:hover
      {
        transform: scale(1.01);
      }
    }
  }
}
