#loading
{
  background: rgba(255, 255, 255, 0.808);
  height: $size-maximum;
  width: $size-maximum;
  max-width: $max-page;
  position: fixed;
  z-index:100;
  margin: $center-page-auto;
  margin-top: 15px;
  padding-top: 200px;
  pointer-events:none;
  animation: loading 0.2s ease-in-out 2s forwards;
  .loading-wrap
  {
    display: flex;
    max-width: 500px;
    flex-direction: row;
    margin: $center-page-auto;  
    .line 
    {
      display: inline-block;
      width: 35px;
      height: 35px;
      border-radius: $border15px;
      background-image: linear-gradient(to bottom, #8400b3, #9628bc, #a840c6, #b956cf, #c96bd9, #d17bde, #d98be3, #e19ae8, #e3a9e8, #e5b7e9, #e7c5e9, #e8d3e9);
      margin-top: 200px;
      justify-content: center;
      transition: 1s;
      margin:$center-page-auto; 
      &:nth-last-child(1) 
      {
        animation: loadinganima .6s .1s linear infinite;
      }
      &:nth-last-child(2) 
      {
        animation: loadinganima .6s .2s linear infinite;
      }
      &:nth-last-child(3) 
      {
        animation: loadinganima .6s .3s linear infinite;
      }  
      
      @keyframes loadinganima {
        0% 
        {
          transform: translate(0,0);
        }
        50% 
        {
          transform: translate(0,15px);
        }
        100% 
        {
          transform: translate(0,0);
        }
      }
    }
  }
  .text
  {
    text-align: center;
    width: $size-maximum;
    font-family: "Shrikhand", cursive;
    font-size: 30px;
    margin-top: 50px;
  }

  @keyframes loading {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
}
